* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .hamburger-menu-links-container {
  background-color: rgb(15, 15, 15);
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 100%;
}
body .hamburger-menu-links-container .hamburger-menu-exit-container {
  width: 100%;
  height: 3em;
  background-color: black;
  border-bottom: 1px solid rgb(48, 48, 48);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
}
body .hamburger-menu-links-container .hamburger-menu-exit-container .hamburger-menu-exit-button-container {
  height: 30px;
  width: 30px;
  margin-right: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body .hamburger-menu-links-container .hamburger-menu-exit-container .hamburger-menu-exit-button-container .hamburger-menu-exit-button {
  transform: rotate(45deg);
  height: 2px;
  width: 20px;
  background-color: white;
  position: absolute;
}
body .hamburger-menu-links-container .hamburger-menu-exit-container .hamburger-menu-exit-button-container .hamburger-menu-exit-button::after {
  content: "";
  transform: rotate(90deg);
  height: 2px;
  width: 20px;
  background-color: white;
  position: absolute;
}
body .hamburger-menu-links-container .hamburger-links-container {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .hamburger-menu-links-container .hamburger-links-container .hamburger-navigation-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  list-style-type: none;
}
body .hamburger-menu-links-container .hamburger-links-container .hamburger-navigation-links li {
  font-family: sans-serif;
  font-size: 19px;
}
body .hamburger-menu-links-container .hamburger-links-container .hamburger-navigation-links li a {
  text-decoration: none;
  color: white;
}
body .hamburger-menu-links-container .hamburger-links-container .hamburger-navigation-links li a:hover, body .hamburger-menu-links-container .hamburger-links-container .hamburger-navigation-links li a:active {
  transition: 0.1s linear all;
  color: red;
}
body .hamburger-menu-links-container.slide-in {
  animation: right-to-left 0.4s ease-out forwards;
}
body .hamburger-menu-links-container.slide-out {
  animation: left-to-right 0.4s ease-out forwards;
}
body .navigation-bar-section {
  background-color: rgb(247, 251, 255);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 1px 1px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
body .navigation-bar-section .navigation-bar {
  width: 1900px;
  max-width: 100%;
  background-color: rgb(247, 251, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .navigation-bar-section .navigation-bar .navigation-bar-right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  background-color: rgb(247, 251, 255);
}
body .navigation-bar-section .navigation-bar .navigation-bar-right-container .top-container {
  background-color: #AEF2E0;
  border-bottom: 2px solid #fc9074;
  border-left: 2px solid #fc9074;
  border-right: 2px solid #fc9074;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5em 0;
}
body .navigation-bar-section .navigation-bar .navigation-bar-right-container .top-container .navigation-logo-image {
  height: 50px;
}
body .navigation-bar-section .navigation-bar .navigation-bar-right-container .top-container .top-container-header {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6em;
}
body .navigation-bar-section .navigation-bar .navigation-bar-right-container .bottom-container {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  background-color: rgb(247, 251, 255);
  padding: 0.6em;
}
body .navigation-bar-section .navigation-bar .navigation-bar-right-container .bottom-container .navigation-link-containers {
  list-style: none;
  margin-right: 1.8em;
}
body .navigation-bar-section .navigation-bar .navigation-bar-right-container .bottom-container .navigation-link-containers .navigation-links {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
body .navigation-bar-section .navigation-bar .navigation-bar-left-container {
  width: 100%;
  height: 3em;
  visibility: hidden;
}
body .navigation-bar-section .navigation-bar .navigation-bar-left-container .navigation-hamburger-menu-container {
  display: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0;
  list-style: none;
  margin: 0.75em 2em 0 2em;
  padding: 0.8em 0.5em;
  cursor: pointer;
}
body .navigation-bar-section .navigation-bar .navigation-bar-left-container .navigation-hamburger-menu-container .hamburger-menu {
  height: 2px;
  width: 20px;
  background-color: black;
}
body .navigation-bar-section .navigation-bar .navigation-bar-left-container .navigation-hamburger-menu-container .hamburger-menu::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: black;
  transform: translateY(7px);
}
body .navigation-bar-section .navigation-bar .navigation-bar-left-container .navigation-hamburger-menu-container .hamburger-menu::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: black;
  transform: translateY(-7px);
}
body .portfolio-section {
  width: 1700px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .portfolio-section .introduction-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 527px;
  padding: 28em 0;
  position: relative;
}
body .portfolio-section .introduction-section .right-and-bottom-container {
  width: 40%;
  font-family: "Work Sans", sans-serif;
  margin-left: 11em;
}
body .portfolio-section .introduction-section .right-and-bottom-container .introduction-main-header {
  font-weight: 500;
  font-size: 5em;
  padding: 0.7em 0;
}
body .portfolio-section .introduction-section .right-and-bottom-container .introduction-secondary-headers {
  font-weight: 400;
  font-size: 1.8em;
  margin-left: 0.2em;
  padding: 0.1em 0;
}
body .portfolio-section .introduction-section .right-and-bottom-container .introduction-call-to-action-container {
  padding: 4em 0;
  height: 1px;
}
body .portfolio-section .introduction-section .right-and-bottom-container .introduction-call-to-action-container i {
  font-size: 2.2em;
  margin-right: 1em;
  margin-left: 0.2em;
  cursor: pointer;
  transition: 0.1s all linear;
  color: #87ebd0;
}
body .portfolio-section .introduction-section .right-and-bottom-container .introduction-call-to-action-container i:hover {
  color: #fc9074;
}
body .portfolio-section .introduction-section .left-and-top-container {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
body .portfolio-section .introduction-section .left-and-top-container .introduction-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
body .portfolio-section .introduction-section .left-and-top-container .introduction-image-container .introduction-image {
  height: 480px;
  margin: 0 auto;
  animation: border-animation 30s infinite;
  border: 2px solid #fc9074;
  border-radius: 30% 70% 53% 47%/26% 46% 54% 74%;
  height: 40vmin;
  position: absolute;
  width: 40vmin;
}
body .portfolio-section .projects-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .portfolio-section .projects-section .projects-section-header {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 2.6em;
  text-decoration: underline;
  text-decoration-color: #fc9074;
  text-decoration-thickness: 4px;
  padding: 1.5em 0.2em;
  width: 100%;
}
body .portfolio-section .projects-section .projects-container {
  width: 90%;
}
body .portfolio-section .projects-section .project-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
  padding: 0 0.5em;
  z-index: 2;
}
body .portfolio-section .projects-section .project-cards .project-container-left {
  padding-right: 3em;
  height: 100%;
}
body .portfolio-section .projects-section .project-cards .project-container-left .project-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
  background-color: bisque;
}
body .portfolio-section .projects-section .project-cards .project-container-left .project-image-container img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: 270px;
}
body .portfolio-section .projects-section .project-cards .project-container-right {
  padding: 0 0.5em;
}
body .portfolio-section .projects-section .project-cards .project-container-right .project-description-container .project-title {
  font-family: "Kanit", sans-serif;
  font-size: 1.8em;
  padding: 0.8em 0;
}
body .portfolio-section .projects-section .project-cards .project-container-right .project-description-container .project-description {
  font-family: "Work Sans", sans-serif;
  font-size: 1.1em;
  padding: 0.8em 0;
  text-align: justify;
  line-height: 1.4;
}
body .portfolio-section .projects-section .project-cards .project-container-right .project-description-container .project-email-container {
  background-color: rgb(236, 236, 236);
  border: 3px solid #fc9074;
  padding: 0.8em;
  font-family: "Work Sans", sans-serif;
  font-style: italic;
  width: 56%;
  min-width: 350px;
}
body .portfolio-section .projects-section .project-cards .project-container-right .project-description-container .project-email-container .project-emails {
  padding-bottom: 0.4em;
}
body .portfolio-section .projects-section .project-cards .project-container-right .project-description-container .project-call-to-action-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 0;
  font-family: "Work Sans", sans-serif;
  list-style: none;
}
body .portfolio-section .projects-section .project-cards .project-container-right .project-description-container .project-call-to-action-container .project-links, body .portfolio-section .projects-section .project-cards .project-container-right .project-description-container .project-call-to-action-container a {
  text-decoration: none;
  font-size: 1.05em;
  color: blue;
  transition: 0.1s all linear;
}
body .portfolio-section .projects-section .project-cards .project-container-right .project-description-container .project-call-to-action-container .project-links, body .portfolio-section .projects-section .project-cards .project-container-right .project-description-container .project-call-to-action-container a:hover {
  color: #87ebd0;
}
body .portfolio-section .projects-section .project-cards .project-container-right .project-description-container .project-call-to-action-container .project-link-github {
  margin-left: 1.5em;
}
body .portfolio-section .skills-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
}
body .portfolio-section .skills-section .skills-section-header {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 2.6em;
  text-decoration: underline;
  text-decoration-color: #fc9074;
  text-decoration-thickness: 4px;
  padding: 1.5em 0.2em;
  width: 100%;
}
body .portfolio-section .skills-section .skills-container {
  width: 65%;
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 3em 0;
  gap: 2em 1em;
}
body .portfolio-section .skills-section .skills-container .skill-cards {
  height: 300px;
  width: 210px;
  background-color: rgb(247, 251, 255);
  border-bottom-left-radius: 22px;
  border-top-right-radius: 22px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
body .portfolio-section .skills-section .skills-container .skill-cards .card-header {
  background-color: #87ebd0;
  border-bottom: 2px solid #fc9074;
  text-align: center;
  font-size: 1.3em;
  font-weight: 400;
  padding: 0.5em 0;
  border-top-right-radius: 22px;
}
body .portfolio-section .skills-section .skills-container .skill-cards .card-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em 0;
  background-color: rgb(247, 251, 255);
}
body .portfolio-section .skills-section .skills-container .skill-cards .card-skills .card-skills-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0.3em 0;
  padding: 0 1em;
  margin-top: 0.5em;
}
body .portfolio-section .skills-section .skills-container .skill-cards .card-skills .card-skills-container .skill-names {
  font-size: 1em;
  margin-left: 0.5em;
  width: 80%;
}
body .portfolio-section .about-me-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
}
body .portfolio-section .about-me-section .about-me-section-header {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 2.6em;
  text-decoration: underline;
  text-decoration-color: #fc9074;
  text-decoration-thickness: 4px;
  padding: 1.5em 0.2em;
  width: 100%;
}
body .portfolio-section .about-me-section .about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 572px;
  min-height: 100%;
}
body .portfolio-section .about-me-section .about-me-container .about-me-container-left {
  width: 35%;
  height: 100%;
}
body .portfolio-section .about-me-section .about-me-container .about-me-container-left .about-me-image-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
body .portfolio-section .about-me-section .about-me-container .about-me-container-left .about-me-image-container .about-me-image {
  height: 480px;
  animation: border-animation 30s infinite;
  border: 2px solid #fc9074;
  border-radius: 30% 70% 53% 47%/26% 46% 54% 74%;
  height: 40vmin;
  position: absolute;
  width: 40vmin;
}
body .portfolio-section .about-me-section .about-me-container .about-me-container-right {
  width: 65%;
}
body .portfolio-section .about-me-section .about-me-container .about-me-container-right .about-me-description {
  font-family: "Work Sans", sans-serif;
  font-size: 1.4em;
  line-height: 1.8;
  padding-right: 5em;
  text-align: justify;
}
body .portfolio-section .contact-section {
  width: 1300px;
  max-width: 100%;
  margin: 20px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 5em 0;
}
body .portfolio-section .contact-section .contact-section-header {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 2.6em;
  text-decoration: underline;
  text-decoration-color: #fc9074;
  text-decoration-thickness: 4px;
  padding: 1.5em 0.2em;
  width: 100%;
}
body .portfolio-section .contact-section .contact-form-container {
  height: 75%;
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3em 0;
}
body .portfolio-section .contact-section .contact-form-container .contact {
  height: 100%;
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .portfolio-section .contact-section .contact-form-container .contact .contact-form {
  height: 100%;
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
body .portfolio-section .contact-section .contact-form-container .contact .contact-form .contact-email {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .portfolio-section .contact-section .contact-form-container .contact .contact-form .contact-email .email-input {
  width: 100%;
  font-size: 17px;
  padding: 0.3em 0.2em;
  border: 1px solid rgb(48, 48, 48);
  background-color: rgb(247, 251, 255);
}
body .portfolio-section .contact-section .contact-form-container .contact .contact-form .contact-information {
  width: 100%;
  font-family: sans-serif;
  font-size: 17px;
  padding: 0.3em 0.2em;
  border: 1px solid rgb(48, 48, 48);
  margin-top: 1em;
  background-color: rgb(247, 251, 255);
}
body .portfolio-section .contact-section .contact-form-container .contact .contact-form .contact-submit-button {
  width: 300px;
  padding: 0.5em;
  font-family: sans-serif;
  font-size: 1.1em;
  border: 1px solid rgb(48, 48, 48);
  background-color: rgb(247, 251, 255);
  margin-top: 1em;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .introduction-section {
    flex-direction: column !important;
  }
  .introduction-section .right-and-bottom-container {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    margin-left: 0 !important;
  }
  .introduction-section .right-and-bottom-container .introduction-main-header {
    padding: 0 0 0.3em 0 !important;
  }
  .introduction-section .left-and-top-container {
    width: 100% !important;
    height: 60% !important;
    margin: 0 auto;
  }
  .project-cards {
    flex-direction: column !important;
    padding: 0 2em !important;
  }
  .project-cards .project-container-left {
    padding-right: 0 !important;
  }
  .project-cards .project-container-left .project-images {
    width: 70vmin !important;
    height: 35vmin !important;
  }
  .project-cards .project-container-right .project-description-container .project-title {
    padding: 1.5em 0 !important;
    text-align: center !important;
  }
  .project-cards .project-container-right .project-description-container .project-description {
    padding-bottom: 1.5em !important;
    text-align: center !important;
  }
  .project-cards .project-container-right .project-description-container .project-email-container {
    margin: 0 auto !important;
  }
  .project-cards .project-container-right .project-description-container .project-call-to-action-container {
    justify-content: center !important;
    padding-top: 1.5em !important;
  }
  .about-me-container {
    align-items: center !important;
    flex-direction: column !important;
    height: auto !important;
  }
  .about-me-container .about-me-container-left {
    justify-content: center !important;
    width: 100% !important;
    height: 50% !important;
    padding: 7em 0 !important;
  }
  .about-me-container .about-me-container-left .about-me-image-container {
    justify-content: center !important;
  }
  .about-me-container .about-me-container-right {
    width: 100% !important;
  }
  .about-me-container .about-me-container-right .about-me-description {
    padding: 2em 0.7em !important;
  }
}
@media (max-width: 750px) {
  .navigation-bar-right-container {
    display: none !important;
  }
  .navigation-bar-left-container {
    visibility: visible !important;
  }
}
@media (max-width: 630px) {
  .right-and-bottom-container .introduction-main-header {
    font-size: 2.5em !important;
  }
  .right-and-bottom-container .introduction-secondary-headers {
    font-weight: 400;
    font-size: 1em !important;
    margin-left: 0.2em;
    padding: 0.1em 0;
  }
  .right-and-bottom-container .introduction-call-to-action-container {
    padding: 2em 0 !important;
  }
  .right-and-bottom-container .introduction-call-to-action-container i {
    font-size: 1.5em !important;
  }
  .projects-section-header {
    text-align: center !important;
    padding-top: 0 !important;
    font-size: 1.9em !important;
  }
  .skills-section-header {
    padding-top: 0 !important;
    font-size: 1.9em !important;
  }
  .about-me-section-header {
    text-align: center !important;
    padding-top: 0 !important;
    padding-bottom: 3em !important;
    font-size: 1.9em !important;
  }
  .about-me-description {
    font-size: 1.1em !important;
  }
  .contact-section-header {
    padding-top: 0 !important;
    font-size: 1.9em !important;
  }
}
@media (max-width: 500px) {
  .about-me-container-right {
    width: 100% !important;
  }
  .about-me-container-right .about-me-description {
    padding: 1em 0.7em !important;
  }
  .introduction-image {
    height: 60vmin !important;
    width: 60vmin !important;
  }
  .about-me-image {
    height: 60vmin !important;
    width: 60vmin !important;
  }
}
@media (max-height: 450px) {
  .introduction-image-container {
    height: 100vmin !important;
  }
  .introduction-image-container .introduction-image {
    height: 70vmin !important;
    width: 70vmin !important;
  }
  .about-me-image {
    height: 70vmin !important;
    width: 70vmin !important;
  }
}
@media (max-width: 360px) {
  .about-me-description {
    padding: 1em 0.7em !important;
  }
}
@keyframes border-animation {
  0%, 100% {
    border-radius: 30% 70% 70% 30%/30% 52% 48% 70%;
  }
  10% {
    border-radius: 50% 50% 20% 80%/25% 80% 20% 75%;
  }
  20% {
    border-radius: 67% 33% 47% 53%/37% 20% 80% 63%;
  }
  30% {
    border-radius: 39% 61% 47% 53%/37% 40% 60% 63%;
  }
  40% {
    border-radius: 39% 61% 82% 18%/74% 40% 60% 26%;
  }
  50% {
    border-radius: 100%;
  }
  60% {
    border-radius: 50% 50% 53% 47%/72% 69% 31% 28%;
  }
  70% {
    border-radius: 50% 50% 53% 47%/26% 22% 78% 74%;
  }
  80% {
    border-radius: 50% 50% 53% 47%/26% 69% 31% 74%;
  }
  90% {
    border-radius: 20% 80% 20% 80%/20% 80% 20% 80%;
  }
}
@keyframes right-to-left {
  100% {
    left: 0%;
  }
}
@keyframes left-to-right {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}/*# sourceMappingURL=style.css.map */